<form class="form" id="new-comment">
  <label for="comment">
    Enter comment:
  </label>
  <textarea
    type="text"
    class="form-input w-50"
    name="comment"
    id="comment"
  ></textarea>
  <br />
  <button class="btn-primary" type="submit" name="comment-submit">
    Submit Comment
  </button>
</form>