<form class="form" id="new-post">
  <div class="row">
    <label for="name">Title:</label><input
      type="text"
      class="form-input"
      name="name"
      id="post_name"
    />
  </div>
  <div class="row">
    <input type="text" class="form-input" name="text" id="post_text" />
  </div>
  <button type="submit" id="form-submit">Submit Post</button>
</form>