<div class="card p-2 w-50 mx-auto">
  <h2>Login</h2>
  <form id="login-form">
    <div class="form-inline"><label class="col-form-label w-25" for="name">User
        Name:
      </label><input class="w-75 col-form-input" type="text" id="name" /></div>
    <div class="form-inline"><label
        class="col-form-label w-25"
        for="password"
      >Password: </label><input class="w-75" type="text" id="password" /></div>
    <button
      class="btn btn-primary w-100"
      type="submit"
      id="login-btn"
    >Login</button>
  </form>
</div>

<div class="card p-2 w-50 mx-auto">
  <h2>Sign-up</h2>
  <form id="signup-form" class="form">
    <row class="form-inline"><label
        class="w-25 col-form-label"
        for="signup_name"
      >User Name: </label><input
        class="w-75"
        type="text"
        id="signup_name"
      /></row>
    <row class="form-inline"><label
        class="w-25 col-form-label"
        for="signup_password"
      >Password: </label><input
        class="w-75"
        type="text"
        id="signup_password"
      /></row>
    <row class="form-row">
      <label class="w-25 col-form-label" for="signup_email">Email:
      </label><input class="w-75" type="text" id="signup_email" /></row>
    <div class="form-row"><button
        class="btn btn-primary w-100"
        type="submit"
        id="signup-btn"
      >Sign up</button></div>
  </form>
</div>
<script src="./js/login.js"></script>